.list__p {
    margin: 0;
    font-size: 12px;
}
.list__h1 {
    margin: 0;
    font-size: 15px;
}
.list__span {
    font-size: 12px;
}

.list__color {
    width: 10px;
    height: 10px;
    float: right;
    margin-bottom: 10px;
}

.list__avatar {
    width: 50px;
    height: 50px;
    margin: 0 15px 0 0;
    border-radius: 50px;
}

.list__user-card {
    margin: 20px 0 0 0;
    padding: 0px 15px;
}

.list__user-information {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin-bottom: 20px;
}

.list__user-information-text {
  border-bottom: 1px solid #e6e8ed;
  width: 100%;
  padding-bottom: 20px;
}
#map {
    flex-grow: 20;
    border-left: 1px solid #e6e8ed;
}
body {
  margin: 0;
}
.main-container {
    display: flex;
    align-items: stretch;
    width: 100%;
}
.list {
    flex-grow: 1;
    padding: 0 10px;
    overflow-y: scroll;
    height: 100vh;
}
